html {
  direction: rtl;
}
.single .ps-navigation .prev i {
  margin-right: 0;
  margin-left: 10px;
  transform: rotate(180deg);
}
.wpcf7-form {
  direction: rtl;
}
body {
  direction: rtl;
  unicode-bidi: embed;
}
body.rtl .rs-heading.style2 .title-inner {
  text-align: right;
}
body.rtl .left-btn .contact-page1 .submit-btn {
  float: right;
}
body.rtl #content {
  text-align: right;
}
body.rtl .club-sidebar-top .club-logo {
  text-align: right;
}
body.rtl .menu-area .navbar ul li .sub-menu {
  left: auto;
}
body.rtl .bs-sidebar .widget-title:before,
body.rtl .bs-sidebar .widget_archive ul li:after,
body.rtl .bs-sidebar .widget_categories ul li:after,
body.rtl .rs-blog-details #reply-title:before {
  right: 0;
  left: auto;
  transform: rotate(180deg);
}
body.rtl .dynamic-sidebar section.widget,
body.rtl .dynamic-sidebar .recent-widget {
  padding: 0 25px 0 0;
}
body.rtl .bs-sidebar .widget ul li {
  padding: 7px 0 7px 0px;
}
body.rtl ul.stylelisting li:before {
  right: 0;
  left: inherit;
}
body.rtl ul.stylelisting li {
  padding-left: 0 !important;
  padding-right: 30px;
}
body.rtl .breaking-news#breaking-news .owl-nav .owl-next:before {
  top: 7px;
}
body.rtl .rs-breadcrumbs .breadcrumbs span,
body.rtl .rs-breadcrumbs .breadcrumbs-title span {
  padding-right: 0;
  padding-left: 30px;
  float: right;
}
body.rtl .rs-breadcrumbs .breadcrumbs span a:before,
body.rtl .rs-breadcrumbs .breadcrumbs-title span a:before {
  left: 0;
  right: auto;
  top: 0;
}
body.rtl .rs-breadcrumbs .breadcrumbs span:last-child,
body.rtl .rs-breadcrumbs .breadcrumbs-title span:last-child {
  padding-left: 0;
  padding-right: 15px;
}
body.rtl .sidenav {
  left: 0;
  right: auto;
  -ms-transform: translate(-100%);
  -webkit-transform: translate(-100%);
  -moz-transform: translate(-100%);
  transform: translateX(-100%);
}
body.rtl .sidenav.nav-active-menu-container {
  -ms-transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  transform: translateX(0);
}
body.rtl .sidenav.nav-active-menu-container li.nav-link-container .nav-menu-link {
  padding: 13px 10px 15px 10px !important;
}
body.rtl .sidenav li.nav-link-container {
  left: 12px;
  right: auto;
}
body.rtl .sidenav .fa-ul {
  text-align: right;
}
body.rtl .sidenav .fa-ul li i {
  padding-right: 0;
  padding-left: 10px;
}
body.rtl .sidenav .offcanvas_social {
  text-align: right;
}
body.rtl .sidenav .offcanvas_social li a {
  margin-right: 0;
  margin-left: 12px;
}
body.rtl .sidenav .widget-title {
  text-align: right;
}
body.rtl .sidenav .widget-title:before {
  right: 0;
  left: auto;
}
body.rtl .sidenav .widget_nav_menu ul li {
  text-align: right;
}
body.rtl .sidenav .widget_media_image {
  text-align: right;
}
body.rtl .rs-heading.style2.text-center .title-inner {
  text-align: center;
}
body.rtl .rs-btn.btn-left {
  text-align: right;
}
body.rtl .sports-grid .event_counter6 .date {
  padding-right: 8px;
  padding-left: 0;
}
body.rtl .sports-grid .event_counter6 .vanue {
  padding-left: 13px;
  padding-right: 0;
}
body.rtl .sports-grid .event_counter6 .vanue:after {
  left: 0;
  right: auto;
}
body.rtl .breaking-news .blog-item .blog-title {
  padding-top: 0;
}
body.rtl .main-contain .Total_Soft_Poll_Main_Div .Total_Soft_Poll_1_Ans_Div_1 .Total_Soft_Poll_1_Ans_Check_Div label:before {
  right: 0;
  left: auto;
}
body.rtl .main-contain .Total_Soft_Poll_Main_Div .Total_Soft_Poll_1_Ans_Div_1 .Total_Soft_Poll_1_Ans_Check_Div label {
  padding: 7px 30px 7px 0;
}
body.rtl .Total_Soft_Poll_1_Main_Div_1 .Total_Soft_Poll_1_But_MDiv_1 {
  float: right;
}
body.rtl .breaking-news {
  text-align: right;
}
body.rtl .rs-players-slider.players-style2 .person-details .squad-numbers {
  float: right;
}
body.rtl .owl-carousel,
body.rtl .slick-slider,
body.rtl .bx-wrapper {
  direction: ltr;
}
body.rtl .owl-carousel .owl-item,
body.rtl .slick-slide {
  direction: rtl;
}
body.rtl #rs-header .menu-responsive .sidebarmenu-search,
body.rtl #rs-header .menu-responsive .sidebarmenu-area.off-border-left {
  float: left;
}
body.rtl .breaking-news .blog-carousel {
  width: 60%;
}
body.rtl .team-info h3,
body.rtl .career-info h3 {
  text-align: right;
}
body.rtl .team-info table,
body.rtl .career-info table {
  text-align: right;
}
body.rtl .rs-team-grid.team-style5 .team-item .normal-text .squad-numbers {
  float: right;
}
body.rtl .sports-carousel .hero-slide.event_counter6 {
  float: left !important;
}
body.rtl .rs-players-slider.players-style2.overlay-arrow .owl-carousel .owl-nav {
  width: 123px;
  position: absolute;
  left: 0;
}
body.rtl .rs-players-slider.players-style2.overlay-arrow .person-details .player-title {
  padding-left: 86px;
}
body.rtl #rs-header .menu-responsive .sidebarmenu-search {
  padding-left: 13px;
}
body.rtl #rs-header .menu-responsive .sidebarmenu-search .sticky_form {
  left: 0;
  right: auto;
}
body.rtl .menu-area .navbar {
  float: left;
  margin-left: 30px;
}
body.rtl .rs-heading.text-center .title-inner .title {
  text-align: center;
}
body.rtl .club-details_data .squad-list-item .jersy {
  left: 20px;
  right: auto;
}
body.rtl .breaking-news#breaking-news .owl-nav .owl-prev {
  left: 16px;
  right: auto;
}
body.rtl .breaking-news#breaking-news .owl-nav .owl-next {
  left: 0;
  right: auto;
}
body.rtl .breaking-news#breaking-news .blog-item {
  text-align: right;
}
body.rtl #rs-header .toolbar-area .toolbar-sl-share ul {
  text-align: left;
}
body.rtl #rs-header .toolbar-area .toolbar-contact ul {
  text-align: right;
}
body.rtl #rs-header .toolbar-area .toolbar-contact ul li {
  margin-right: 0;
  margin-left: 25px;
}
body.rtl #rs-header .toolbar-area .toolbar-contact ul li i {
  float: right;
  margin: 0 0 0 8px;
}
body.rtl #rs-header .toolbar-area .toolbar-contact ul li:first-child i {
  margin: 0 0 0 5px;
}
body.rtl #rs-header .logo-area {
  float: right;
}
body.rtl #rs-header.style1 .menu-area .menu-responsive {
  text-align: left;
}
body.rtl #rs-header.style1 .has-quote-text .get-quote {
  margin: 0;
}
body.rtl #rs-header.style1 .sticky_form {
  left: 0;
  right: auto;
}
body.rtl #rs-header.style1 .sticky_form .bs-search button {
  left: 0;
  right: auto;
}
body.rtl .menu-area .navbar ul li ul.sub-menu li {
  text-align: right;
}
body.rtl .rs-latest-news {
  text-align: right;
}
body.rtl .rs-latest-news .news-list-item .news-img {
  padding-left: 0;
  padding-right: 0;
}
body.rtl .footer-sponsor .offset-md-2 {
  margin-left: 0;
}
body.rtl .footer-sponsor .col-lg-8 {
  margin: 0 auto;
}
body.rtl #cl-testimonial .testimonial-slide3.slider3 .testimonial-content .author-image {
  margin-right: 0;
}
body.rtl .menu-area .navbar ul li.left .sub-menu li .sub-menu {
  right: -100% !important;
}
body.rtl #rs-acheivements.rs-acheivements4.icon-left .rs-counter-list .count-icon {
  margin-left: 25px;
  margin-right: 0;
}
body.rtl #rs-footer .widget {
  text-align: right;
}
body.rtl #rs-footer .widget p {
  text-align: right;
}
body.rtl #rs-footer .footer-top h3.footer-title::after {
  right: 0;
  left: auto;
}
body.rtl #rs-footer .footer-top .mc4wp-form-fields input[type="submit"] {
  right: auto;
  left: 2px;
}
body.rtl #rs-footer .footer-top .mc4wp-form-fields input[type="email"] {
  padding: 12px 16px 12px 16px;
}
body.rtl #rs-footer .footer-top .mc4wp-form-fields .form-inner::before {
  left: 30px;
  right: auto;
}
body.rtl #rs-footer .footer-top .recent-post-widget .post-item .post-date {
  margin-left: 15px;
  margin-right: 0;
}
body.rtl #rs-footer .widget ul li {
  text-align: right;
}
body.rtl #rs-footer .widget ul li:before {
  right: 0;
  left: auto;
}
body.rtl #rs-footer .footer-top ul#menu-footer-menu li {
  padding: 4px 14px 4px 0;
}
body.rtl .toolbar-contact-style4 ul {
  float: left;
}
body.rtl #rs-header.header-style2 .toolbar-contact-style4 ul li {
  margin-right: 25px;
}
body.rtl #rs-header.header-style2 .sticky_search {
  text-align: left;
}
body.rtl .toolbar-contact-style4 ul li .contact-inf {
  float: right;
  text-align: right;
  margin: 0;
}
body.rtl .toolbar-contact-style4 ul li .contact-inf span {
  text-align: right;
}
body.rtl .toolbar-contact-style4 ul li i {
  float: right;
}
body.rtl #rs-header.header-style2 .sticky_form {
  right: auto;
  left: 15px;
}
body.rtl #rs-header .bs-search button {
  left: 0;
  right: auto;
}
body.rtl #rs-header.header-style2 .menu-responsive {
  padding-right: 25px;
}
body.rtl .rs-services-style1.icon-left .services-icon {
  margin-left: 20px;
  margin-right: 0;
}
body.rtl .rs-services-style1.icon-left .services-desc,
body.rtl .rs-services-style1.icon-left .services-desc .services-title,
body.rtl #about-us .rs-heading {
  text-align: right;
}
body.rtl .rs-heading.style4 {
  text-align: right;
}
body.rtl .rs-heading.style4 .view-more {
  text-align: left;
}
body.rtl #cl-testimonial .testimonial-slide3 i {
  right: 0;
}
body.rtl .rs-heading.center .description {
  max-width: 100%;
}
body.rtl #cl-testimonial .testimonial-slide2.slider2 .image-testimonial .testimonial-content h4 {
  text-align: right !important;
}
body.rtl .rs-events .event-item .event-meta .event-time {
  margin-left: 10px;
  margin-right: 0;
}
body.rtl .rs-latest-news .news-list-block .news-list-item .news-date i {
  margin-left: 4px;
  margin-right: 0;
}
body.rtl #rs-header.header-styl-3 .sticky_search {
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 0;
  margin-left: 0;
  border-right: 1px solid #ccc;
  border-left: 0;
}
body.rtl #rs-header.header-styl-3 .sticky_form {
  left: 0;
  right: auto;
}
body.rtl #rs-header.header-styl-3 .has-quote-text {
  text-align: left;
}
body.rtl .responsive-two-col .rs-heading.style5 {
  text-align: right;
}
body.rtl .responsive-two-col .rs-heading.style5 .description {
  text-align: right;
}
body.rtl .rs-testimonial-home .rs-heading.style5 {
  text-align: right;
}
body.rtl .rs-testimonial-home .rs-heading.style5 .description {
  text-align: right;
}
body.rtl .about3 .wpb_column,
body.rtl .rs-about1 .wpb_column {
  text-align: right;
}
body.rtl .about3 .rs-heading.style2 h2::after,
body.rtl .rs-about1 .rs-heading.style2 h2::after {
  right: 0;
  left: auto;
}
body.rtl #rs-acheivements .rs-heading.style1::after {
  right: 0;
  left: 0;
  margin: 0 auto;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
body.rtl #rs-acheivements .rs-heading.style1 {
  text-align: center;
}
body.rtl .home4-post .wpb_wrapper {
  text-align: right;
}
body.rtl .home4-post .rs-heading.style1::after {
  right: 0;
  left: auto;
}
body.rtl .home4-post .latest-news-slider .slick-arrow {
  left: -104px;
  right: auto;
}
body.rtl .home4-post .latest-news-slider .slick-arrow.slick-next {
  left: -160px;
}
body.rtl #rs-home-video.rs-acheivements::after {
  right: -128px;
  left: auto;
}
body.rtl .about-tabs vc_col-sm-8 {
  float: right;
}
body.rtl .about-tabs .wpb_wrapper {
  text-align: right;
}
body.rtl .rs-latest-news.style2 .slick-arrow.slick-next {
  left: -65px;
  right: auto;
}
body.rtl .rs-latest-news.style2 .slick-arrow {
  left: -10px;
  right: auto;
}
body.rtl .bs-sidebar.dynamic-sidebar {
  text-align: right;
}
body.rtl .bs-sidebar .widget-title::after {
  left: auto;
  right: 0;
}
body.rtl .bs-sidebar .bs-search button {
  left: 0;
  right: auto;
}
body.rtl .widget ul li::before {
  right: 0;
  left: auto;
  transform: rotate(180deg);
}
body.rtl .bs-sidebar .widget_categories li {
  padding: 5px 15px 5px 0 !important;
}
body.rtl .bs-sidebar .recent-post-widget .show-featured .post-img {
  padding-left: 15px;
  padding-right: 0;
}
body.rtl .full-blog-content .blog-button {
  float: right;
}
body.rtl .rs-blog .blog-item .blog-button a {
  padding-left: 24px;
  padding-right: 0px;
}
body.rtl .rs-blog .blog-item .blog-button a:before {
  left: 0;
  right: auto;
  transform: rotate(180deg);
}
body.rtl .rs-blog .blog-item .blog-full-area .full-blog-content,
body.rtl .rs-blog-grid .blog-item .full-blog-content,
body.rtl .rs-blog-details .bs-desc {
  text-align: right;
}
body.rtl .rs-blog-grid .blog-item .full-blog-content {
  margin-top: 15px;
}
body.rtl .btm-cate li {
  float: right;
  margin-left: 25px;
  margin-right: 0;
}
body.rtl .pagination-area .nav-links > :first-child {
  border-radius: 0 20px 20px 0px;
}
body.rtl .pagination-area .nav-links > :last-child {
  border-radius: 20px 0 0 20px;
}
body.rtl .rs-blog-details .meta-info-wrap .tag-line a {
  margin-right: 8px;
  margin-left: 0;
}
body.rtl .ps-navigation ul .next i {
  float: right;
  margin-top: 5px;
}
body.rtl .comments-area .comment-list,
body.rtl .comment-form,
body.rtl .rs-blog-details #reply-title {
  text-align: right;
}
body.rtl .comments-area .comment-list li.comment .comment-content {
  margin-right: 50px;
  margin-left: 0;
  padding-left: 0;
  padding-right: 15px;
}
body.rtl .comments-area .comment-list li.comment .comment-metadata {
  margin-right: 50px;
  margin-left: 0;
}
body.rtl .comments-area .comment-list li.comment .comment-author img {
  margin-left: 15px;
  margin-right: 0;
}
body.rtl .comments-area .comment-list li.comment .reply a {
  margin-right: 27px;
  margin-left: 0;
}
body.rtl #scrollUp {
  left: 30px;
  right: auto;
}
body.rtl #content div.product div.summary,
body.rtl div.product div.summary,
body.rtl .cart_totals h2,
body.rtl #content div.product div.summary,
body.rtl div.product div.summary,
body.rtl .woocommerce-tabs,
body.rtl h3#order_review_heading,
body.rtl .woocommerce form .form-row label,
body.rtl .woocommerce form .form-row .select2-container,
body.rtl .woocommerce-billing-fields,
body.rtl .woocommerce-additional-fields,
body.rtl .woocommerce-info,
body.rtl form.login,
body.rtl .entry-content .woocommerce h2 {
  text-align: right;
}
body.rtl .woocommerce .cart-collaterals .cart_totals,
body.rtl .woocommerce-page .cart-collaterals .cart_totals {
  float: right;
}
body.rtl .woocommerce-error::before,
body.rtl .woocommerce-info::before,
body.rtl .woocommerce-message::before {
  left: 1.5em;
  right: auto;
}
body.rtl #payment #place_order,
body.rtl #payment #place_order {
  float: right;
}
body.rtl .woocommerce-form-login .woocommerce-Button {
  margin-left: 12px !important;
  margin-right: 0 !important;
}
body.rtl .rs-breadcrumbs ul li.trail-end {
  padding-right: 8px;
  padding-left: 0;
}
body.rtl #cl-testimonial p {
  text-align: right;
}
body.rtl #cl-testimonial .testimonial-content .image-testimonial {
  float: left;
}
body.rtl .single-testimonial .testimonial-left {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
body.rtl .cl-testimonial5 .image-testimonial .testimonial-content ul {
  padding: 10px 0px 0 0px !important;
}
body.rtl #cl-testimonial .cl-col-2 {
  float: right;
}
body.rtl .testimonial-boxshadow #cl-testimonial ul {
  text-align: right;
}
@media screen and (max-width: 991px) {
  body.rtl .mobile-menu-link {
    left: 0;
    right: auto;
  }
  body.rtl #rs-header.header-transparent .sidenav.nav-active-menu-container li.nav-link-container .nav-menu-link {
    padding: 13px 10px 15px 10px !important;
  }
  body.rtl #rs-footer .widget {
    text-align: right;
  }
  body.rtl #rs-footer .widget .newsletter-title p {
    text-align: center;
  }
  body.rtl #rs-footer .widget p {
    text-align: right;
  }
  body.rtl .sidenav .offcanvas_social li a {
    margin-left: 0;
    margin-right: 12px;
    padding: 0;
  }
  body.rtl .mobile-menu-container div ul li a {
    text-align: right;
  }
  body.rtl ul.sidenav .menu > li.menu-item-has-children::before {
    left: 14px;
    right: auto;
  }
  body.rtl .mobile-menu-container div ul {
    padding: 25px 0;
  }
}
@media screen and (max-width: 767px) {
  body.rtl .rs-heading.style4 .view-more {
    text-align: right;
  }
  body.rtl .ps-image {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 590px) {
  body.rtl #rs-header.style1 .menu-area .menu-responsive {
    left: 70px;
    right: auto;
  }
}
